.img-hero,
.section2 header {
  margin-bottom: 42px;
}
.btn-hero,
.h221 {
  position: relative;
  overflow: hidden;
}
.s1,
.s2 {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
.pointer,
.social {
  cursor: pointer;
}
.gamesname li a,
.rights a {
  text-decoration: none;
}
@font-face {
  font-family: Days-One;
  src: url(../fonts/Days_One/DaysOne-Regular.ttf);
}
@font-face {
  font-family: Chakra-Petch;
  src: url(../fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}
:root {
  --mainclr-: #cbfe1c;
  --secondaryclr-: #0b0e13;
}
body::-moz-selection {
  color: #000;
  background-color: #cbfe1c;
}
body::selection {
  color: #000;
  background-color: #cbfe1c;
}
.header {
  font-family: Chakra-Petch, sans-serif;
  border-bottom: 0.5px solid #1d2836;
}
.herosec {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#000000e0),
      to(#000000e0)
    ),
    url(../images/hero-bg.jpg);
  background-image: -o-linear-gradient(bottom, #000000e0, #000000e0),
    url(../images/hero-bg.jpg);
  background-image: linear-gradient(0deg, #000000e0, #000000e0),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 105px 0 56px;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom: 0;
  color: var(--mainclr-);
}
.nav-underline .nav-link {
  color: #fff;
  border-bottom: 0;
  text-transform: capitalize;
}
.nav-underline .nav-link:hover {
  color: #cbfe1c;
}
.fa-bars:hover,
.gamesname li a:hover,
.hero-sec-h2 p,
.msg-not:hover,
.page-name,
.rights a:hover {
  color: var(--mainclr-);
}
.bg-navv {
  background-color: var(--secondaryclr-);
}
.msg-not {
  color: #fff;
}
.bg-main,
.btn-signin {
  background-color: var(--mainclr-);
}
.btn-signin:hover {
  background-color: color-mix(in oklab, var(--mainclr-) 80%, transparent);
}
.mt-42 {
  margin-top: 42px;
}
.hero-sec-h2 {
  font-family: Days-One, sans-serif;
  font-size: 31.5px;
}
.header-p,
.section2-p1,
form label {
  font-size: 12.25px;
}
.hero-btn-2 {
  border: 2.5px solid var(--mainclr-);
  background-color: transparent;
  color: var(--mainclr-);
}
.img-hero {
  height: 224px;
  background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(white),
        to(#fff)
      )
      padding-box,
    -webkit-gradient(
        linear,
        left top,
        right top,
        from(#c7fd24),
        color-stop(#8bef56),
        to(#61e766)
      ) border-box;
  background: -o-linear-gradient(white, #fff) padding-box,
    -o-linear-gradient(left, #c7fd24, #8bef56, #61e766) border-box;
  background: linear-gradient(white, #fff) padding-box,
    linear-gradient(to right, #c7fd24, #8bef56, #61e766) border-box;
  border: 3px solid transparent;
}
.game-pad,
.h221-2 {
  background-size: cover;
  background-position: center;
}
.hero-thropy {
  background-color: #0b0e13;
  left: -3.25%;
  bottom: -10%;
  z-index: 2;
  border-color: #364153 !important;
}
.all-games,
.section2,
.section3 {
  background-color: #000;
}
.chakra {
  font-family: Chakra-Petch, sans-serif;
}
.daysone {
  font-family: Days-One, sans-serif;
}
.custom-select,
.gamesname li {
  font-family: Chakra-Petch, sans-serif;
}
.header-p {
  color: #d1d5dc;
}
.all-games,
.gamecategory,
.screen,
.section2-p1,
.social {
  color: var(--mainclr-);
}
.pt-42 {
  padding-top: 42px;
}
.btn-hero::before {
  content: "";
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5%;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  width: 2%;
}
.section2-p1::after,
.section2-p1::before {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, var(--mainclr-)),
    to(#000)
  );
  background-image: -o-linear-gradient(left, var(--mainclr-) 30%, #000);
  background-image: linear-gradient(to right, var(--mainclr-) 30%, #000);
}
.btn-hero:hover::before {
  left: 100%;
}
.all-games:hover,
.btn-hero-2:hover,
.h221:hover .screen {
  background-color: var(--mainclr-);
  color: #000;
}
.section2 {
  padding: 96px 0;
}
.section2-p1::after {
  right: -50%;
}
.section2-p1::before {
  left: -50%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.section2-p1 {
  margin-bottom: 14px;
}
.h-292 {
  height: 342.6px;
}
.buttons-sliders .arrows {
  width: 56px;
  height: 56px;
  border-color: grey !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h221::after,
.h221::before {
  height: 30px;
  width: 30px;
  content: "";
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.all-games,
.arrows:hover {
  border-color: var(--mainclr-) !important;
}
.all-games {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.arrows:hover *,
.socials-2 a:hover {
  color: var(--mainclr-) !important;
}
.section3 {
  padding: 96px 0 48px;
}
.screen {
  width: 42px;
  height: 42px;
  background-color: #1e2939;
  margin-bottom: 10.5px;
}
.h221,
.h221-1,
.h221-2 {
  height: 221.4px;
}
.h221 {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #1a1a1a;
  border: 2px solid #1e2939;
}
.h221:hover {
  border: 2.5px solid var(--mainclr-);
}
.h221::after {
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
  top: 0;
  left: 0;
  background-image: -o-linear-gradient(
    315deg,
    #1a1a1a 50%,
    var(--mainclr-) 50%,
    var(--mainclr-) 100%
  );
  background-image: linear-gradient(
    -225deg,
    #1a1a1a 50%,
    var(--mainclr-) 50%,
    var(--mainclr-) 100%
  );
}
.h221:hover::before {
  -webkit-transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
}
.h221:hover::after {
  -webkit-transform: translate(30%, 30%);
  -ms-transform: translate(30%, 30%);
  transform: translate(30%, 30%);
}
.h221::before {
  -webkit-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  bottom: 0;
  right: 0;
  background-image: -o-linear-gradient(
    135deg,
    #1a1a1a 50%,
    var(--mainclr-) 50%,
    var(--mainclr-) 100%
  );
  background-image: linear-gradient(
    315deg,
    #1a1a1a 50%,
    var(--mainclr-) 50%,
    var(--mainclr-) 100%
  );
}
.game-pad {
  background-image: url(../images/what-we-do-1.png);
}
.h221-2 {
  background-image: url(../images/what-we-do-2.png);
}
.section3::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(5%, #000),
    color-stop(30%, var(--mainclr-)),
    color-stop(99%, #000)
  );
  background-image: -o-linear-gradient(
    left,
    #000 5%,
    var(--mainclr-) 30%,
    #000 99%
  );
  background-image: linear-gradient(
    to right,
    #000 5%,
    var(--mainclr-) 30%,
    #000 99%
  );
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 0 15px var(--mainclr-);
  box-shadow: 0 0 15px var(--mainclr-);
}
.bckk::after,
.bckk::before {
  top: 0;
  bottom: 0;
  width: 70px;
  z-index: 3;
  content: "";
  position: absolute;
}
.section4 header {
  padding: 80px 0;
  border-left: 6px solid #000;
}
.img-sponser {
  width: 96px;
  height: 96px;
}
.s1 {
  -webkit-animation-name: sponsers;
  animation-name: sponsers;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
}
.lil img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 9px;
}
.bckk::before {
  left: 0;
  height: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #0f182b),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -o-linear-gradient(left, #0f182b 0, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, #0f182b 0, rgba(0, 0, 0, 0) 100%);
}
.bckk::after {
  right: 0;
  height: 96px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0, #0f182b),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -o-linear-gradient(right, #0f182b 0, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to left, #0f182b 0, rgba(0, 0, 0, 0) 100%);
}
.s2 {
  -webkit-animation-name: sponsers-1;
  animation-name: sponsers-1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
.section4::after {
  content: "";
  width: 80%;
  top: 10%;
  left: 25%;
  right: 25%;
  bottom: 6%;
  background-color: #91b51981;
  position: absolute;
  z-index: 2;
  border-radius: 70%;
  -webkit-box-shadow: 0 0 110px #91b519ed;
  box-shadow: 0 0 110px #91b519ed;
}
.section5 {
  padding: 84px 0;
  background-color: #0b0e13;
}
.section5 header .title-5 {
  font-size: 48px;
}
.player-1 {
  -o-object-fit: cover;
  object-fit: cover;
  height: 280px;
}
.photoplayer {
  position: absolute;
  top: 72%;
  bottom: 8%;
  left: 10%;
  line-height: 14px;
}
.photoplayer span {
  font-size: 10px;
}
.gamecategory {
  font-size: 13px;
}
.typee {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 19%;
  right: 5px;
  position: absolute;
}
.backdrop {
  background-color: transparent;
  -webkit-backdrop-filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.player:hover .backdrop {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.section6 {
  padding: 84px 0;
  background-color: #0e141f;
}
.title-6 {
  font-size: 42px;
}
.contactinfo-icon {
  width: 56px;
  height: 56px;
  background-color: var(--mainclr-);
}
.contacttitle {
  line-height: 22px;
}
.contact-info > div,
.lastform {
  background-color: #1e2939;
}
.social,
footer {
  background-color: #000;
}
.social {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.custom-select,
.form-control {
  border: 2px solid #444f5f;
  padding: 10.5px 14px;
}
.social:hover {
  background-color: rgba(0, 0, 0, 0.76);
}
.jooin {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#c4fc28),
    color-stop(#8ff055),
    to(#31e16f)
  );
  background-image: -o-linear-gradient(left, #c4fc28, #8ff055, #31e16f);
  background-image: linear-gradient(to right, #c4fc28, #8ff055, #31e16f);
}
.custom-select:focus,
.form-control:focus {
  border: 4px solid var(--mainclr-);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #364153;
}
.form-control {
  background-color: #364153;
  color: #d6d5d5;
}
.form-control::-webkit-input-placeholder {
  color: rgba(154, 154, 154, 0.66);
  font-size: 16px;
  font-family: Chakra-Petch, sans-serif;
}
.form-control::-moz-placeholder {
  color: rgba(154, 154, 154, 0.66);
  font-size: 16px;
  font-family: Chakra-Petch, sans-serif;
}
.form-control:-ms-input-placeholder {
  color: rgba(154, 154, 154, 0.66);
  font-size: 16px;
  font-family: Chakra-Petch, sans-serif;
}
.form-control::-ms-input-placeholder {
  color: rgba(154, 154, 154, 0.66);
  font-size: 16px;
  font-family: Chakra-Petch, sans-serif;
}
.form-control::placeholder {
  color: rgba(154, 154, 154, 0.66);
  font-size: 16px;
  font-family: Chakra-Petch, sans-serif;
}
.custom-select {
  background-color: #364153;
  color: #fff;
}
.custom-select option {
  font-size: 15px;
}
.gamesname li,
.rights a,
.rights p {
  font-size: 14px;
  color: #99a1af;
}
#message {
  resize: none;
}
.form-check-label {
  color: gray;
  font-size: 13px;
}
.form-check-input[type="checkbox"] {
  border-radius: 0;
}
.form-check-input[type="checkbox"]:focus {
  border-color: var(--mainclr-);
  -webkit-box-shadow: 0 0 0 4px var(--mainclr-);
  box-shadow: 0 0 0 4px var(--mainclr-);
}
.form-check-input:checked {
  color: #fff;
  background-color: #a94dc1;
}
.statics {
  border-top: 1.5px solid gray;
}
.dayshours {
  color: var(--mainclr-);
  font-size: 21px;
  font-weight: 600;
}
footer {
  padding: 42px 0;
}
.footertitle {
  color: var(--mainclr-);
  font-size: 17.5px;
}
.gamesname li a {
  color: #99a1af;
}
.gamesname li {
  list-style: none;
  margin-bottom: 8px;
}
.gamesname {
  padding-left: 0;
}
footer .container .row {
  border-bottom: 2px solid #1a2331;
}
@-webkit-keyframes sponsers {
  0% {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}
@keyframes sponsers {
  0% {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}
@-webkit-keyframes sponsers-1 {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes sponsers-1 {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .h221,
  .h221-1,
  .h221-2 {
    height: 340px;
  }
  .hero-sec-h2 {
    font-size: 48px;
  }
  .header-p {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .fs48,
  .hero-sec-h2 {
    font-size: 48px;
  }
  .img-hero {
    height: 384px;
    width: 100%;
  }
  .h221,
  .h221-1,
  .h221-2 {
    height: 312px;
  }
  .herosec {
    padding: 120px 0 64px;
  }
  .header-p {
    font-size: 16px;
  }
  .section4::after {
    top: 30%;
    bottom: 15%;
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .herosec {
    padding: 120px 0 64px;
    height: 100vh;
  }
}
